.guides__container {
  display: flex;
  align-items: center;
}
.gudies__title {
  width: 500px;
  margin-right: auto;
}
.guides__text {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 17px;
  line-height: 1.8;
  color: #7d7987;
  margin: 20px 0 40px;
}
.guides__button {
  padding: 14px 46px;
}
