$accent-color: #fb8f1d;
$primery-white-color: #ffffff;
$primery-text-color: #b8becd;
$blue-color: #202336;
$grey: #484848;
$black-color: #000000;
$color-element-x: #fdd08d, matrix(0.99, 0.13, -0.13, 0.99, 0, 0);
$color-element-o: linear-gradient(156.14deg, #bff0dd 12.18%, #57d2a3 87.99%);
$bgr-accent-color: #245852;
$shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$color-grey: #4a4c53;

// #202336
// #AFB0B9
// Linear Gradient

// 100%
// #57D2A3
// 100%
// #FDD08D
// #1ABE84
// #7D7987
